.beers-page {
    .beers-container {
        margin: auto;
        width: 80%;
    }

    .row {
        display: flex;
        margin-bottom: 20px;
    }

    .column {
        max-width: 50%;
        flex: 50%;
    }
}