& {
  margin: auto;
  width: 80%;
}

.actions-container {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 25px;
  margin-bottom: 20px;
  height: 75px;
  align-items: baseline;
  font-size: 24px;

  .add-beer {
    margin-right: auto;
    font-size: 20px;
  }

  ul {
    display: flex;
    align-items: center;
  }
}

.actions-container > :first-child {
  margin-left: 10px;
}
