<div class="beers-container">
    <h1>Beers</h1>
    {{#bp-table table=table as |beer|}}
        {{#bp-beer-card 
            title=beer.name
            type="English pale ale"
            brewery=beer.breweries.0.name
            ibu=beer.ibu
            alcool=beer.alcoholPercent
            rating=beer.rating
            description=beer.description
            imagePath=beer.imagePath
            link="profile"}}
        {{/bp-beer-card}}
    {{/bp-table}}
</div>
