<div class="beers-page">
    <div class="beers-container">
        <h1>Beers</h1>
        {{#each table as |row|}}
            <div class="row">
                {{#each row as |beer|}}
                    {{#if beer}}
                        <div class="column">
                            {{#bp-beer-card
                                id=beer.id
                                title=beer.name
                                type="English pale ale"
                                brewery=beer.breweries.0.name
                                ibu=beer.ibu
                                alcool=beer.alcoholPercent
                                rating=beer.rating
                                description=beer.description
                                imagePath=beer.imagePath
                                link="beers/show"}}
                            {{/bp-beer-card}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>
