<h1>Breweries</h1>
{{#bp-table items=breweries as |brewery|}}
  {{#bp-brewery-card
    title=brewery.name
    breweryId=brewery.id
    type=(concat "#" brewery.tags.0.name)
    rating=brewery.rating
    description=brewery.description
    imagePath=brewery.imagePath
    link="breweries/show"}}
  {{/bp-brewery-card}}
{{/bp-table}}
