& {
  padding: 5% 15%;
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
  grid-gap: 20px;

  .beer-numerical-info {
    display: grid;
    grid-template-areas:
    'rating rating'
    'ibu percent';
    padding: 10px;

    p {
      font-size: large;

      .info-highlighted-text {
        color: red;
        font-weight: bold;
      }
    }

    .rating {
      grid-area: rating;

        .stars {
          font-size: 30px;
        }

        p {
            margin: 5px 0;
        }
    }

    .ibu {
      grid-area: ibu;
    }

    .percent {
      grid-area: percent;
    }
  }
}
