<div class="column">
  {{bp-display
    beerOrBreweryId=beer.id
    imagePath=beer.imagePath
    name=beer.name
    tags=beer.tags
    description=beer.description
    items=beer.breweries
    tagLink="breweries/show"
    rating=beer.rating
    ibu=beer.ibu
    alcoholPercent=beer.alcoholPercent
    type="beer"
  }}
</div>
