@import "pod-styles.scss";
@import "typography";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

button {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

$ember-power-select-line-height: 2.9;
