@import "pod-styles.scss";
@import "typography";

button {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}
