& {
  background-color: #ededed;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;

  a {
    letter-spacing: 2px;
    float: right;
    display: block;
    color: black;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: darkgrey;
  }

  :first-child {
    float: left;
  }

  .sign-out {
    margin-left: 30px;
  }

  .logo {
    width: 220px;
    height: 23px;
  }
}
