<div class="review-comment-form">
  {{input type="text" class="review-comment-content" name="comment-content" value=commentContent placeholder="Comment"}}
  <button class="add-review-comment" onclick={{action 'addReviewComment'}}>Comment</button>
</div>
