.add-review-form {
  h2 {
    text-align: center;
  }

  margin-top: 30px;
  width: 40vw;

  input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

  label {
    display: block;
    margin: 5px 5px 0;
  }

  .form-error-msg {
    display: block;
    font-size: 12px;
    color: red;
    margin: 0 5px 10px;
  }

  .title-rating {

    .title {
      width: 40%;
    }

    .rating {
      width: 10%;
    }
  }

  .add-review {
    float: right;
  }
}
