{{#bp-card
  title=title
  cardId=breweryId
  imagePath=imagePath
  subheading=type
  description=description
  link=link
  icon="brewery"
  }}
  <div class="footer-content">
    <div class="stars">{{bp-stars-display rating=rating}}</div>
  </div>
{{/bp-card}}
