{{#bp-card
  title=title
  imagePath=imagePath
  subheading=type
  description=description
  link=link
  }}
  <div class="footer-content">
      <div class="stars">{{bp-stars-display rating=rating}}</div>
  </div>
{{/bp-card}}
