{{#bp-card
  cardId=targetId
  title=title
  imagePath=fallbackImagePath
  subheading=(concat "-" user.name ", " (moment-calendar time 'days'))
  description=description
  link=link
  smallTitle=true
  icon="beer"
  }}
  <div class="footer-content">
    <div class="stars">{{bp-stars-display rating=rating}}</div>
    <div class="thumbsup">
      <p>{{thumbsups}}</p>
      <i class="fa fa-thumbs-up"></i>
    </div>
  </div>
{{/bp-card}}
