{{#each table as |row|}}
    <div class="row">

                <div class="column">
        {{#each row as |item|}}
            {{#if item}}
                   {{yield item}}

            {{/if}}
        {{/each}}
         </div>
    </div>
{{/each}}
