<div class="search-wrapper">
  <input type="text" placeholder="Search a beer, brewer or profile">
</div>

<div class="trending-wrapper">
  <div class="trending-menu">
    <h1>Trending</h1>
    {{bp-menu-item name="REVIEWS" owner=this selectedItem=selectedItem}}
    {{bp-menu-item name="BEERS" owner=this selectedItem=selectedItem}}
    {{bp-menu-item name="BREWERIES" owner=this selectedItem=selectedItem}}
  </div>
</div>
