<h1>Trending</h1>

{{#bs-tab as |tab|}}
  {{#tab.pane title="Beers"}}
    {{#if (is-pending beersQuery)}}
      <img src="/assets/images/loader.gif">
    {{else}}
        {{#bp-table items=beers as |beer|}}
          {{#bp-beer-card
            beerId=beer.id
            title=beer.name
            style=beer.style.name
            breweries=(array-join beer.breweries)
            ibu=beer.ibu
            alcool=beer.alcoholPercent
            rating=beer.rating
            description=beer.description
            imagePath=beer.imagePath
            link="beers/show"}}
          {{/bp-beer-card}}
        {{/bp-table}}
    {{/if}}
  {{/tab.pane}}
  {{#tab.pane title="Breweries"}}
    {{#if (is-pending breweriesQuery)}}
        <img src="/assets/images/loader.gif">
    {{else}}
      {{#bp-table items=breweries as |brewery|}}
        {{#bp-brewery-card
          title=brewery.name
          breweryId=brewery.id
          type=(concat "#" brewery.tags.0.name)
          rating=brewery.rating
          description=brewery.description
          imagePath=brewery.imagePath
          link="breweries/show"}}
        {{/bp-brewery-card}}
      {{/bp-table}}
    {{/if}}
  {{/tab.pane}}
  {{#tab.pane title="Reviews"}}
    {{#if (is-pending reviewsQuery)}}
        <img src="/assets/images/loader.gif">
    {{else}}
      {{#bp-table items=reviews as |review|}}
        {{#bp-review-card
          title=review.title
          targetId=review.targetId
          rating=review.rating
          description=review.content
          user=review.user
          imagePath=review.imagePath
          thumbsups=review.thumbsups.length
          time=review.time
          link="beers/show"}}
        {{/bp-review-card}}
      {{/bp-table}}
    {{/if}}
  {{/tab.pane}}
{{/bs-tab}}
