.footer-content {
    height: 25%;
    display: inline-flex;
    >* {
        margin: 3px;
    }

    p {
        display: inline;
    }

    .alcool, .ibu {
        p:last-child {
            color: red;
        }
    }
}
