{{#bp-card
    title=title
    imagePath=imagePath
    subheading=(concat type " | " brewery)
    description=description
    link=link
    }}
    <div class="footer-content">
        <div class="stars">{{bp-stars-display rating=rating}}</div>
            <p>|</p>
            <div class="ibu">
                <p>IBU: </p>
                <p>{{ibu}}</p>
            </div>
            <div class="alcool">
                <p>Alc:</p>
                <p>{{alcool}} %</p>
        </div>
    </div>
{{/bp-card}}
