& {
  padding: 5% 15%;
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
  grid-gap: 20px;

  .brewery-numerical-info {
    p {
      font-size: large;

      .info-highlighted-text {
        color: red;
        font-weight: bold;
      }
    }

    .rating {
      grid-area: rating;

      .stars {
        font-size: 30px;
      }

      p {
          margin: 5px 0;
      }
    }

    .ibu {
      grid-area: ibu;
    }

    .percent {
      grid-area: percent;
    }
  }
}
