<div class="column">
  {{bp-display
    beerOrBreweryId=brewery.id
    imagePath=brewery.imagePath
    name=brewery.name
    tags=brewery.tags
    description=brewery.description
    items=beers
    tagLink="beers/show"
    roundedImage=true
    rating=brewery.rating
    type="brewery"
  }}
</div>
