& {
  margin-bottom: 5%;

  .display-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-right: 5px;
  }

  .header {
    display: block;

    h3 {
      margin-bottom: 0;
    }

    .title {
      div {
        display: inline;
        justify-content: flex-start;
      }
    }

    .infos {
      margin: 5px 0;
      text-align: left;
      a {
        color: red;
      }
    }
  }

  .content {
    margin: 20px 0;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 25px;
    background: rgb(253, 229, 229);
    padding: 10px 20px;
    width: 50%;
  }

  .actions {
    display: flex;
    margin-top: 5px;
    font-size: small;
  }

  .action {
    margin-left: 5px;
  }

  .action:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
