<div class="comment-container">
  <div class="content">
    {{comment.content}}
      <p class="infos">
  by
    {{#link-to "profile/show" comment.user.cip}}
      {{comment.user.name}}
    {{/link-to}} on {{moment-calendar comment.time 'days'}}
  </p>
  </div>
</div>
